{% load static %}
  <!--==========================
  Footer
============================-->
<center>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="social" style="text-align: center; font-size: 35px; ">
                    <!-- <a href=""><i class="fa fa-twitter"></i></a> -->
                    <a href="https://www.facebook.com/uneako/"><i class="fab fa-facebook-f" style="padding-right: 45px; color:#03c5ec;"></i></a>
                    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                    <a href="https://www.linkedin.com/company/uneako"><i class="fab fa-linkedin-in" style="padding-left: 45px; color:#03c5ec;"></i></a>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="copyright">
                  &copy; Copyright <strong>UNEAKO</strong>. All Rights Reserved
                </div>
                <div class="credits">
                  <!--
                    All the links in the footer should remain intact.
                    You can delete the links only if you purchased the pro version.
                    Licensing information: https://bootstrapmade.com/license/
                    Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=UNEAKO
                  -->
                  Designed by <a style="color:#03c5ec;" href="https://bootstrapmade.com/">Vaigyanik Likho</a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="social" style="text-align: center; font-size: 35px; ">
                    <a href="https://twitter.com/UNEAKO2"><i class="fab fa-twitter" style="padding-right: 45px; color:#03c5ec;"></i></a>
                    <!--a href="https://www.facebook.com/vaigyanik.atul"><i class="fa fa-facebook"></i></a-->
                    <!-- <a href=""><i class="fa fa-google-plus"></i></a> -->
                    <a href="https://www.instagram.com/uneako_/"><i class="fab fa-instagram" style="padding-left: 45px; color:#03c5ec;"></i></a>
                </div>
              </div>
              
            </div>
        </div>
    </div>
  </footer>
  </center>
  <!-- #footer -->