{% load static %}


 <!-- Required JavaScript Libraries -->
 <script src="{% static "lib/jquery/jquery.min.js"%}"></script>
 <script src="{% static "lib/bootstrap/js/bootstrap.min.js"%}"></script>
 <script src="{% static "lib/superfish/hoverIntent.js"%}"></script>
 <script src="{% static "lib/superfish/superfish.min.js"%}"></script>
 <script src="{% static "lib/morphext/morphext.min.js"%}"></script>
 <script src="{% static "lib/wow/wow.min.js"%}"></script>
 <script src="{% static "lib/stickyjs/sticky.js"%}"></script>
 <script src="{% static "lib/easing/easing.js" %}"></script>

 <!-- Template Specisifc Custom Javascript File -->
 <script src="{% static "js/custom.js" %}"></script>
 <script src="{% static "js/index.js" %}"></script>

 <script src="{% static "contactform/contactform.js" %}"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
 <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 <script type="text/javascript" src="{% static "slick/slick.min.js"%}"></script>